<!DOCTYPE html>
<html>
  <head>
    <title>Coconut Milk Ice Cream!</title>
  </head>
  
  <body>
    <h1>Wow you like <%=flavor%> 
      <% if (topping) { %>
      with <%=topping%>
      <% } %>
       too!? That's my favorite!</h1>
  </body>
  
</html>